:root {
  --toastify-color-light: #f8f9fa !important;
  --toastify-color-dark: #212529 !important;
  --toastify-color-info: #0d6efd !important;
  --toastify-color-success: #198754 !important;
  --toastify-color-warning: #ffc107 !important;
  --toastify-color-error: #dc3545 !important;
}

.form-control.c-danger {
  border-color: #dc3545;
}

.form-control.c-danger:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.form-control.c-warning {
  border-color: #ffc107;
}

.form-control.c-warning:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgb(255 193 7 / 25%);
}

.form-control.c-success {
  border-color: #198754;
}

.form-control.c-success:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.list-group-item.bg-transparent:hover {
  background-color: #d8d8d8 !important;
}

@keyframes c-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}
